<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}{% endblock %}</title>

        {% stylesheets filter="scssphp" output="css/app.css"
            "@AppBundle/Resources/public/scss/main.scss"
        %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <main class="main">
            {% block body %}{% endblock %}
        </main>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

        {% javascripts filter="?jsqueeze" output="js/app.js"
            "@AppBundle/Resources/public/js/pubsub.js"
            "@AppBundle/Resources/public/js/modules/*.js"
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascripts %}{% endblock %}

        {% javascripts filter="?jsqueeze" output="js/main.js"
            "@AppBundle/Resources/public/js/main.js"
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
