{% extends 'base.html.twig' %}

{% block title %}Job List{% endblock %}

{% block bodyclass %}admin{% endblock %}

{% block body %}
    <a href="{{ path('index') }}" class="link">Homepage</a>

    <h1>Job List</h1>

    {% if activeJobs %}
        <h3>Running Jobs</h3>

        {% include "admin/_table.html.twig" with {
            "defTimeout"    : defTimeout,
            "jobs"          : activeJobs,
            "showExecutedAt": false,
            "showRemove"    : false,
            "showStartedAt" : true,
            "showStatus"    : false,
        } only %}
    {% endif %}

    {% if newJobs %}
        <h3>New Jobs</h3>

        <p>The following jobs will be executed in the displayed order.</p>

        {% include "admin/_table.html.twig" with {
            "defTimeout"    : defTimeout,
            "jobs"          : newJobs,
            "showExecutedAt": false,
            "showRemove"    : true,
            "showStartedAt" : false,
            "showStatus"    : false,
        } only %}
    {% endif %}

    <h3>Finished Jobs</h3>

    {% include "admin/_table.html.twig" with {
        "defTimeout"    : defTimeout,
        "jobs"          : finishedJobs,
        "showExecutedAt": true,
        "showRemove"    : true,
        "showStartedAt" : false,
        "showStatus"    : true,
    } only %}

    {% include "_util/_confirm.html.twig" only %}
{% endblock %}
