Hey,

Results to Job: {{ absolute_url(path('result', {'hash': job.hash})) }}
{% if job.status is constant('AppBundle\\Service\\Job::STATUS_EXECUTED') %}
They are available for the next {{ deleteAfterDays }} days.
{% else %}
Job execution failed. Contact the admin for more information.
{% endif %}
