{% for type, list in app.session.flashBag.all() %}
    {% for message in list %}
        <div class="flash flash--{{ type }}">
            {{ message|raw }}
        </div>
    {% endfor %}
{% endfor %}
